# Compiled Java class files
*.class

# Log files
*.log

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/
out/

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# Large media files
*.iml